.promo {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    display: grid;
    /* grid-template-columns: 458px 199px 165px 226px 232px; */
    /* grid-template-rows: 288px 185px 248px; */
    grid-template-columns: 1fr 15.55% 12.89% 17.66% 18.13%;
    grid-template-rows: 40vh 25vh 34.5vh;
}

.promo__blackHat {
    grid-column: 2/4;
    grid-row: 1/3;
}

.promo__descr {
    grid-column: 1/2;
    grid-row: 3/4;
}

.promo__doorway {
    grid-column: 4/5;
    grid-row: 2/4;
}

.promo__red-block {
    grid-column: 5/6;
    grid-row: 2/3;
}

.promo__male {
    grid-column: 5;
    grid-row: 3;
}

.promo__coffee {
    grid-column: 2/3;
    grid-row: 3;
}

.promo__brown-block {
    grid-column: 3/4;
    grid-row: 3;
}

@media (max-width: 1200px) {
    .promo {
        grid-template-columns: 25.78% 18% 15.4% 20.2% 20.6%;
    }
}

@media (max-width: 992px) {
    .promo {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 40vh 25vh 34.5vh auto 40vh 60vh;
    }

    .promo__culture {
        grid-column: 1/3;
        grid-row: 1;
    }

    .promo__descr {
        grid-column: 1/3;
    }

    .promo__coffee {
        grid-column: 3/4;
    }

    .promo__brown-block {
        grid-column: 4/5;
    }

    .promo__blackHat {
        grid-column: 3/5;
    }

    .promo__girl-with-flowers {
        grid-column: 3/5;
        grid-row: 4;
    }

    .promo__doorway {
        grid-column: 1/3;
        grid-row: 5/7;
    }

    .promo__frizz {
        grid-column: 1/3;
        grid-row: 4;
    }

    .promo__red-block {
        grid-column: 3/5;
        grid-row: 5;
    }

    .promo__male {
        grid-column: 3/5;
        grid-row: 6;
    }
}

@media (max-width: 576px) {
    .promo {
        grid-template-columns: repeat(2, 50vw);
        grid-template-rows: auto 34.5vh auto 35vh auto auto auto 30vh auto;
    }

    .promo__descr {
        grid-row: 2;
    }

    .promo__culture {
        grid-row: 1/2;
    }

    .promo__blackHat {
        grid-column: 1/3;
        grid-row: 3;
    }

    .promo__coffee {
        grid-column: 1;
        grid-row: 4;
    }

    .promo__brown-block {
        grid-column: 2;
        grid-row: 4;
    }

    .promo__frizz {
        grid-column: 1/3;
        grid-row: 5;
    }

    .promo__girl-with-flowers {
        grid-column: 1/3;
        grid-row: 6;
    }

    .promo__doorway {
        grid-column: 1/3;
        grid-row: 7;
    }

    .promo__red-block {
        grid-column: 1/3;
        grid-row: 8;
    }

    .promo__male {
        grid-column: 1/3;
        grid-row: 9;
    }
}
